apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: smart-city
  labels:
    app: api
spec:
  type: LoadBalancer
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: api
