apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: smart-city
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: kafka-internal
  - port: 9093
    targetPort: 9093
    protocol: TCP
    name: kafka-external
  selector:
    app: kafka
